body {
    margin: 8px;
    padding: 0;
	font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.container {
    text-align: center;
}

.fixed-container {
    position: relative; /* Cambiado de 'fixed' a 'relative' */
    width: 100%; /* Nuevo: Ocupa todo el ancho */
    background-color: white; /* Nuevo: Fondo blanco */
    padding: 0 0 8px 0; /* Nuevo: Espaciado vertical para el texto */
}

.image-frame {
    top: 8px;
    left: 8px;
    max-height: calc(100vh - 16px);
}

.image-column {
    width: 16.66667%; /* 1/6 del ancho total */
    min-width: 100px;
}

.image-column img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 8px;
}

.centered-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
}

.image-container {
    display: flex;
    align-items: flex-start;
}

.image-text {
    margin-left: 8px; /* Ajusta la distancia entre la imagen y el texto */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	overflow:visible;
}

.image-text div {
    white-space: nowrap; /* Evita que el texto haga saltar de línea */
	overflow:visible;
}

.image-container {
    display: flex; /* Usa Flexbox */
    justify-content: flex-start; /* Alinea horizontalmente */
    transition: all 1s ease; /* Transición suave */
}

.image-container:hover {
    cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
	
}

.click:hover {
    cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
	filter: grayscale(100%);
	opacity: 0.8;
	transition:0s;
}

.video-container {
    width: 50%; /* Ajusta este valor según necesidad */
    height: auto; /* Mantiene la relación de aspecto */
    display: none; /* Oculto inicialmente */
}

.image-text {
    margin-left: 8px; /* Ajusta la distancia entre la imagen/video y el texto */
}

.video-container {
    width: calc(50vw - 8px); /* 50% del ancho de la ventana del navegador */
    height: auto; /* 30% del alto de la ventana del navegador */
	margin-bottom: 8px;
    /* Otros estilos... */
}

.video-container:hover {
	filter:none;
}

.additional-text {
    /* Tus estilos aquí */
    margin-left: 8px; /* Ejemplo de margen superior */
	
}

.video-container {
    /* Otros estilos... */
    transition: transform 0.5s ease; /* Transición suave para la transformación */
    transform-origin: top left; /* Punto de origen para la transformación */
}

/* Clase para escalar el video */
.scaled-up {
    transform: scale(1); /* Ajusta este valor según el tamaño deseado */
}


.client{
	color: black;
}

.tittle{
	color:#5A5A5A;
}

.note{
	color:#ABABAB;
}

.year{
	color:#D3D3D3;
}

p{
	padding:0;
	margin:0;
	width:calc(50vw - 32px);
}